body {
    font-family: "PT Serif", Serif;
    font-size: 20px;
}

.task_name {
    width: 400px;
    padding-left: 10px;
}

.complete_task {
    width: 200px;
    background-color: lightgreen;
    text-align: center;
}

.delete_task {
    width: 170px;
    background-color: lightcoral;
    text-align: center;
}

body table .complete .task_name {
    background-color: lightskyblue;
}

body table .complete .complete_task {
    background-color: lightskyblue;
}

td {
    border-style: solid;
    border-width: 2px;
}